html { height: 100%; font-family: 'Open Sans', sans-serif; }
body { background-color: #ffffff; background-size: cover; background-repeat: no-repeat; color: #383838; }
a, a:hover { color: #888888; text-decoration: none; }

#section1 { margin-top: 150px; }
#section1 #photo { width: 350px; max-width: 95%; margin-right: 5%; text-align: right; }
#section1 h1 { font-size: 96px; margin-top: 20px; font-weight: 300;}
#section1 h2 { font-size: 48px; margin-top: 0px; font-weight: 300; }
#section1 #email { font-size: 20px; margin-top: 20px; color: #bababa; }

#section2 { padding: 200px 0 50px; }
#social-networks a { display: inline-block; padding: 0 10px; margin: 0 15px; font-size: 30px; }

#copyright { font-size: 12px; color: #c1bfbf; padding: 30px 20px; }

@media(max-width:576px) {
    #section1 { width: auto; text-align: center; padding-left: 0; margin-top: 100px; }
    #section1 h1 { font-size: 60px; }
    #section1 h2 { font-size: 32px; }
    #section2 { padding-top: 100px; }
    #social-networks a { padding: 0 8px; margin: 0 8px; font-size: 28px; }
}
